---
interface Props {
  items: { name: string; url: string }[];
}
const { items } = Astro.props;
---
<nav class="breadcrumbs" aria-label="Breadcrumb">
  <ol>
    {
      items.map((item, i) => (
        <li>
          {i < items.length - 1 ? (
            <a href={item.url}>{item.name}</a>
          ) : (
            <span aria-current="page">{item.name}</span>
          )}
        </li>
      ))
    }
  </ol>
</nav>
